@media (min-width: 2000px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1720px;
}
}
.icon{
    width: 100px;
    padding: 10px 20px;

}
.img-fluid{
    border-radius: 50%;
    margin-top: 100px;
}
@media (min-width: 1200px){
.fixedDiv{
    position: fixed;
    width: 355.990px;
}
}
@media (min-width: 1400px){
    .fixedDiv{
        position: fixed;
        width: 416px;
    }
}
@media (min-width: 2000px){
    .fixedDiv{
        position: fixed;
        width: 549.333px;
    }
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(204,204,211,1) 0%, rgba(255,255,255,1) 77%, rgba(37,120,136,0.6839110644257703) 100%);
}